@import "../../assets/styles/abstracts/variables";

.collapse {
  width: 100%;
  max-width: 932px;
  @media screen and (max-width: 992px) {
    max-width: 650px;
  }
  @media screen and (max-width: 768px) {
    max-width: 450px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: $salmon;
    border-radius: 5px;
    @media screen and (max-width: 992px) {
      height: 40px;
    }
    @media screen and (max-width: 768px) {
      height: 30px;
    }

    h2 {
      font-size: 24px;
      margin: 0 20px;
      font-weight: 500;
      color: white;
      @media screen and (max-width: 992px) {
        font-size: 18px;
        margin: 0 15px;
      }
      @media screen and (max-width: 768px) {
        font-size: 15px;
        margin: 0 10px;
      }
    }

    .open-collapse-arrow {
      height: 19px;
      margin-right: 20px;
      rotate: 180deg;
      @media screen and (max-width: 992px) {
        height: 16px;
        margin-right: 15px;
      }
      @media screen and (max-width: 768px) {
        height: 13px;
        margin-right: 10px;
      }
    }

    .close-collapse-arrow {
      height: 19px;
      margin-right: 20px;
      rotate: 0deg;
      @media screen and (max-width: 992px) {
        height: 16px;
        margin-right: 15px;
      }
      @media screen and (max-width: 768px) {
        height: 13px;
        margin-right: 10px;
      }
    }
  }

  .close-collapse {
    display: none;
  }

  .open-collapse {
    padding: 27px 27px 19px 18px;
    background-color: $light-grey;
    height: 60%;

    p {
      font-size: 24px;
      margin: 0;
      color: $salmon;
      @media screen and (max-width: 992px) {
        font-size: 18px;
      }
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }

    .logement {
      font-size: 18px;

      @media screen and (max-width: 992px) {
        font-size: 15px;
      }
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}
