@import "../../assets/styles/abstracts/variables";

#card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  background-color: $light-grey;
  border-radius: 25px;
  max-width: 100%;
  margin-bottom: 50px;
  padding: 20px;
  @media screen and (max-width: 768px) {
    background-color: white;
    padding: 0;
    margin-bottom: 20px;
  }

  #card-content {
    position: relative;
    display: flex;
    align-items: baseline;
    flex-basis: 32%;
    flex-grow: 1;
    @media screen and (max-width: 992px) {
      flex-grow: 1;
    }
    @media screen and (max-width: 768px) {
      flex-basis: 48%;
    }

    .article {
      object-fit: cover;
      display: flex;
      align-items: flex-end;
      background: #FF6060;
      height: 340px;
      width: 100%;
      border-radius: 10px;

      @media screen and (max-width: 992px) {
        height: 298px;
        width: 100%;
      }
      @media screen and (max-width: 768px) {
        height: 255px;
      }
    }

    p {
      position: absolute;
      padding-top: 260px;
      width: 240px;
      font-size: 18px;
      color: white;
      margin: 20px;

      @media screen and (max-width: 992px) {
        padding-top: 220px;
      }
      @media screen and (max-width: 768px) {
        padding-top: 180px;
      }
    }

    .layout {
      position: absolute;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      height: 340px;
      width: 100%;
      border-radius: 10px;
      @media screen and (max-width: 992px) {
        height: 298px;
        width: 100%;
      }
      @media screen and (max-width: 768px) {
        height: 255px;
      }
    }
  }
}


